<%- include('partials/header') %>

  <div class="jumbotron text-center">
    <div class="container">
      <!-- <i class="fas fa-key fa-6x"></i> -->
      <h1 class="display-3">Welcome to HavestHub</h1>
    </div>
  </div>

  <div class="d-flex flex-column flex-md-row p-4 gap-4 py-md-5 align-items-center justify-content-center">
  <div class="list-group">
    <a href="#" class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
      <img src="https://github.com/twbs.png" alt="twbs" width="32" height="32" class="rounded-circle flex-shrink-0">
      <div class="d-flex gap-2 w-100 justify-content-between">
        <div>
          <h5 class="mb-0">Account Details:</h5>
          <p class="mb-0 opacity-75">Name: <%= user.first_name %> <%= user.last_name %></p>
          <p class="mb-0 opacity-75">Email: <%= user.email %></p>
        </div>
        <small class="opacity-50 text-nowrap">now</small>
      </div>
    </a>
    
    <a href="#" class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
      <img src="https://github.com/twbs.png" alt="twbs" width="32" height="32" class="rounded-circle flex-shrink-0">
      <div class="d-flex gap-2 w-100 justify-content-between">
        <div>
          <h5 class="mb-0">Waiting List:</h5>
          <ul>
              <% if (waitings.length > 0) { %>
                  <% waitings.forEach(function(waiting) { %>
                    <li>Plot Size: <%= waiting.plot_size %>, Request Date: <%= waiting.request_date %></li> 
                    <!-- Add more details from waitings table here as needed -->
                  <% }); %>
              <% } else { %>
                  <li>No plots in waiting list</li>
              <% } %>
          </ul>

        </div>
        <small class="opacity-50 text-nowrap">3d</small>
      </div>
    </a>
    <a href="#" class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
      <img src="https://github.com/twbs.png" alt="twbs" width="32" height="32" class="rounded-circle flex-shrink-0">
      <div class="d-flex gap-2 w-100 justify-content-between">
        <div>
          <h5 class="mb-0">Assigned List:</h5>
          <ul>
            <% if (assigns.length > 0) { %>
                <% assigns.forEach(function(assign) { %>
                    <li>Plot ID: <%= assign.plot_id %>, Status: <%= assign.status %></li> <!-- Example: Display plot ID -->
                    <!-- Add more details from assigns table here as needed -->
                <% }); %>
            <% } else { %>
                <li>No plots assigned</li>
            <% } %>
        </ul>
        </div>
        <small class="opacity-50 text-nowrap">1w</small>
      </div>
    </a>
  </div>
</div>


    <!-- Add any other content or sections as needed -->

    <!-- Add any necessary JavaScript scripts or libraries here -->

<%- include('partials/footer') %>

